{% extends "base.html" %}
{% block content %}
<h1>Про сайт</h1>

<div class="card">
  <p>
    <b>MovieBase</b> — сайт-каталог фільмів, створений для ознайомлення з Flask.
    Реалізовано: маршрутизацію, шаблон Jinja2, сторінки каталогу, фільтрацію/сортування та форму зворотного зв’язку.
  </p>

  <ul>
    <li><b>Flask</b> — серверна логіка та маршрути</li>
    <li><b>Jinja2</b> — HTML-шаблони та наслідування base.html</li>
    <li><b>Static</b> — CSS у папці static</li>
	<li><b>Server</b> — розгорнуто на Azure</li>
  </ul>
</div>
{% endblock %}
